
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins ExtraBold";
}

body {
  background-color: #FFE0E9;
  color: #333;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.custom-nav-link {
    color: #FF0082;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #FF0082;
}

.navbar nav a {
  margin: 0 15px;
  font-weight: 500;
  color: #333;
}

.btn {
  background-color: #FF0082;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  box-align: center;
}

.hero {
  display: flex;
  align-items: center;
  padding: 140px 60px 80px;
  justify-content: space-between;
}

.btn.hero-btn:hover {
    background-color: #FFE0E9;   
}

.hero-text {
  max-width: 50%;
}

.hero-btn {
    margin-top: -10px; 
    display: inline-block;
}


.hero-text h1 {
  font-size: 100px;
  color: #FF0082;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
}

.hero-text p {
  margin: 15px 0 25px;
  font-size: 30px;
  font-family: "Times New Roman";
  color: #333;
}

.hero-image img {
  max-width: 430px;
  border-radius: 50%;
}

.discount-banner {
  background-color: #FFC1D3;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  color: #FF0082;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}

.offer-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #A40050;
  margin-bottom: 10px;
}

.offer-text span {
  color: #FF2E74;
}

.banner-btn {
  background-color: #FF2E74;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.banner-btn:hover {
  background-color: #d71f5e;
}


.homepagedonut {
    width: 100%;
    height: 100%;
    box-align: cnter;
}

.categories {
  text-align: center;
  padding: 50px 0;
  background-color: #FFC1D3; 
}


.category-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.categories h2 {
  color: #333; 
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}


.card {
  background-color: #FFE0E9;
  border-radius: 15px;
  padding: 15px;
  width: 260px;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card h3 {
  margin: 10px 0;
  color: #333;
  font-size: 25px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: white;
}
