body {
    font-family: "Times New Roman";
    background-color: #f4c5dd;
    color: #333;
    margin: 0;
    padding: 0;
}


.navbar {
  background-color: #f4c5dd;
  font-family: "Times New Roman", serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

}


.navbar .nav-link {
  color: #4a1e2b;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 0;
  border: none;
  background: none;
  transition: color 0.2s, border-bottom 0.2s;
  margin: 0 8px;
}

.navbar .nav-link:hover {
  color: #ff69b4;
  border-bottom: 2px solid #ff69b4;
}


.navbar .nav-link.active {
  color: #ff69b4;
  font-weight: 600;
  border-bottom: 2px solid #ff69b4;
}


.navbar .nav-item {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}




section {
    margin: 30px auto;
    width: 80%;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(240,144,187,0.4);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

input, textarea {
    border: 2px solid #f090bb;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}

button {
    background-color: #f090bb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

button:hover {
    background-color: #e46aa3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fdf0f6;
    border-left: 4px solid #f090bb;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.question-section {
    background-color: #fff3f8;
}

.faq-section .faq-item {
    margin: 15px 0;
    border-bottom: 1px solid #f090bb;
}

.faq-question {
    cursor: pointer;
    padding: 10px;
    font-weight: 600;
    color: #f090bb;
}

.faq-answer {
    display: none;
    padding: 10px 15px;
    color: #444;
    background: #fff3f8;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f090bb;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 30px;
}




.image-slider {
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 1px;
 
}

.slider-track {
  display: flex;
  width: max-content;
  animation: slide-left 20s linear infinite;
}

.slider-track img {
  width: 250px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}


@keyframes slide-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}